/* global variables */
:root {
  --old-gold: #b3a369;
  --navy-blue: #003057;
  --white: #fff;
}

/*css reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* global font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*footer support*/
html {
  position: relative;
  min-height: 100vh;
}

/* page layout */
#page-title {
  text-align: center;
  color: var(--navy-blue);
  padding: 30px 0;
  font-size: clamp(1.75rem, 4vw + 1rem, 3rem);
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 1.5em;
}

#navbar > button,
button {
  font-weight: bold;
  font-size: 24px;
  font-family: inherit;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--old-gold);
  border: 2px solid var(--navy-blue);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 48, 87, 0.4);
}

/* form layout */
#container {
  margin: 0 auto;
  padding: 20px;
  max-width: 200px;
  border: 1px solid var(--navy-blue);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.input-container {
  margin: 10px auto;
  width: 175px;
}

.input-container > label {
  color: var(--navy-blue);
  font-size: 16px;
  font-family: inherit;
}

input {
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  border: 2px solid var(--navy-blue);
  border-radius: 5px;
}

select {
  background-color: var(--white);
  color: var(--navy-blue);
  width: 175px;
  padding: 5px 15px;
  margin: 10px auto;
  font-size: 16px;
  font-family: inherit;
  border: 2px solid var(--navy-blue);
  border-radius: 5px;
}

img {
  max-width: 150px;
  border: 1px solid var(--navy-blue);
  border-radius: 50%;
}

/*footer*/
#footer {
  background-color: var(--navy-blue);
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.fa-github,
.fa-heart,
.fa-linkedin {
  color: var(--old-gold);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover,
.fa-linkedin:hover {
  transform: rotateY(360deg) scale(1.4);
}

.fa-heart:hover {
  transform: scale(1.3);
}
