/* grid layout */
#product-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  border: 2px solid var(--navy-blue);
  border-radius: 1em;
  margin: 30px auto;
  padding: 20px;
  max-width: 90vw;
}

.grid-item {
  border: 1px solid var(--navy-blue);
  background-color: var(--old-gold);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 150px;
  width: 150px;
  border: 1px solid var(--navy-blue);
  border-radius: 50%;
}

img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 48, 87, 0.4);
}
