form {
  display: flex;
  justify-content: center;
}

input {
  font-size: 24px;
  font-family: inherit;
  padding: 10px;
  border: 2px solid var(--navy-blue);
  border-radius: 5px;
}

input:invalid ~ span::after {
  content: "✖";
  color: var(--navy-blue);
  font-size: 24px;
  padding-left: 5px;
}

input:valid ~ span::after {
  content: "✓";
  color: var(--old-gold);
  font-size: 24px;
  font-weight: bold;
  padding-left: 5px;
}

#product-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
  border: 2px solid var(--navy-blue);
  border-radius: 1em;
  margin: 30px auto;
  padding: 20px;
  max-width: 90vw;
}

.grid-item {
  border: 1px solid var(--navy-blue);
  background-color: var(--old-gold);
  display: flex;
  justify-content: center;
  align-items: center;
}
